.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.alignright {
    float: left;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
}

.widget-media-view.attachment-media-view {
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;
    background: none;
}

.widget-media-view .placeholder {
    width: 100%;
    position: relative;
    text-align: center;
    cursor: default;
    border: 1px dashed #b4b9be;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 0;
    line-height: 20px;
    max-width: 400px;
}

.widget-media-view .actions {
    margin-top: 8px;
    max-width: 400px;
}

.widget-media-view .thumbnail-image {
    max-width: 400px;
}

/*Icon Styles*/

.ht-widget-icon-box {
    margin: 1em 0;
}

.ht-icon-box {
    display: none;
}

.ht-type-icon {
    overflow: hidden;
}

.ht-widget-icon-box .ht-selected-icon {
    background: #F6F6F6;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #EEE;
    position: relative;
    margin-left: 44px;
    cursor: pointer;
    font-size: 22px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ht-widget-icon-box .ht-selected-icon i {
    font-style: normal;
}

.ht-widget-icon-box .ht-selected-icon span {
    position: absolute;
    background: #F6F6F6;
    left: -45px;
    top: -1px;
    height: 45px;
    width: 45px;
    border: 1px solid #EEE;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ht-widget-icon-box .ht-icon-search {
    padding: 10px;
    background: #f7f7f7;
    border: 1px solid #EEE;
    border-top: 0;
}

.ht-widget-icon-box .ht-icon-search input {
    width: 100%;
    background: #FFF !important;
}

.ht-widget-icon-box .ht-icon-list {
    height: 215px;
    overflow-y: scroll;
    font-size: 18px;
    border: 1px solid #EEE;
    background: #fff;
    border-top: 0;
    margin: 0;
    padding: 4px;
    cursor: pointer;
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.ht-widget-icon-box .ht-icon-list::-webkit-scrollbar {
    display: none;
}

.ht-widget-icon-box .ht-icon-list li {
    float: right;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #EEE;
    border-radius: 3px;
    font-size: 18px;
    margin: 4px;
    transition: all 0.3s ease;
}

.ht-widget-icon-box .ht-icon-list li i {
    font-style: normal;
}

.ht-widget-icon-box .ht-icon-list li::marker {
    content: "";
}

.ht-widget-icon-box .ht-icon-list li:hover {
    background: #333;
    border: 1px solid #333;
    color: #FFF;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.ht-widget-icon-box .ht-icon-list li.icon-active {
    background: #0073aa;
    border: 1px solid #0073aa;
    color: #FFF;
}

.ht-widget-tab {
    display: flex;
    margin-top: 15px;
    background: #EEE;
}

.ht-widget-tab > div {
    padding: 13px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.ht-widget-tab > div.active {
    background: #0073aa;
    color: #FFF;
}

.ht-image-label {
    position: relative;
    margin-bottom: 10px;
    display: block;
}

.ht-image-label * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ht-image-label input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 50%;
    top: 50%;
}

.ht-image-label input[type=radio] + img {
    border: 3px solid #EEE;
}

.ht-image-label input[type=radio]:checked + img {
    border: 3px solid #0073aa;
}

.ht-widget-repeater-box {
    border: 1px solid #DDD;
    margin-bottom: 15px;
}

.ht-widget-repeater-box:first-child .ht-widget-repeater-remove {
    display: none;
}

.ht-repeater-box-title {
    background: #F5F5F5;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 30px;
    position: relative;
}

.ht-repeater-box-title:before {
    font-family: 'dashicons';
    content: "\f545";
    margin-left: 5px;
    vertical-align: middle;
    font-weight: 900;
}

.ht-widget-add-item.button {
    margin-bottom: 15px;
}

.ht-repeater-toggle {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'dashicons';
    font-weight: 900;
    padding: 10px 0;
    width: 30px;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 16px;
    height: auto;
    opacity: 0.6;
}

.ht-repeater-toggle:before {
    content: "\f142";
}

.ht-repeater-toggle.closed:before {
    content: "\f140";
}

.ht-repeater-content {
    border-top: 1px solid #DDD;
    padding: 0 10px 10px;
}

.ht-color-widget {
    margin: 1em 0;
    position: relative;
}

.ht-color-widget .ht-widget-color-picker {
    height: 30px;
}

.ht-color-widget .button.button-small {
    min-height: 30px;
    margin-right: 6px;
}

.ht-color-widget .wp-picker-container {
    margin-top: 2px;
}

.no-margin {
    margin: 0 !important;
}

/*CHOSEN*/

.select2-container--default .select2-selection--single {
    border-radius: 0px;
    outline: none;
}


/* WPEditor popup */

#ht-wp-editor-widget-container {
    position: fixed;
    background: #FFF;
    z-index: 100006;
    width: 80%;
    max-width: 880px;
    top: 60px;
    right: 50%;
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    padding: 100px;
    overflow-y: scroll;
    bottom: 60px;
}

#ht-wp-editor-widget-container .mce-btn[aria-label="Fullscreen"] {
    display: none;
}

#ht-wp-editor-widget-container ul,
#ht-wp-editor-widget-container ol {
    margin-right: 20px;
}

#ht-wp-editor-widget-container ul li {}

#ht-wp-editor-widget-container .ht-wp-editor-widget-close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #CCC;
    font-size: 40px;
}

#ht-wp-editor-widget-container .ht-wp-editor-widget-close:hover {
    color: #BBB;
}

#ht-wp-editor-widget-backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100005;
}

.wp-customizer #ht-wp-editor-widget-container {
    width: 40%;
    max-width: none;
    top: 0;
    right: 0;
    -webkit-transform: none;
    transform: none;
    -ms-transform: none;
    padding: 100px 40px;
    overflow-y: scroll;
    bottom: 0;
}

body.elementor-editor-active .ht-wp-editor-widget-update-close {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border: 1px solid #CCC;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    color: #555;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
    margin-top: 20px;
}

#wpeditorwidget_ifr {
    min-height: 200px;
}

.ht-form-row > label {
    display: block;
}

.ht-form-row input[type="checkbox"] + label {
    display: inline;
}

.ht-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.ht-flex-wrap .ht-form-row {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 1em;
    padding: 0 1em;
}

.ht-widget-tab-content.ht-flex-wrap {
    border: 1px solid #EEE;
    margin-bottom: 1em;
    padding: 1em 0 0;
}

.ht-flex-wrap .ht-col6 {
    width: 50%;
}

.ht-label-heading {
    background: #F6F6F6;
    padding: 10px;
    display: block;
    border: 1px solid #EEE;
}


/*=================DatePicker=================*/


/* Date Picker Default Styles */

.ui-datepicker {
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    min-width: 17em;
    width: auto;
    z-index: 1000000 !important;
}

body.wp-admin:not(.rtl) .ui-datepicker {
    margin-right: -1px;
}

body.wp-admin.rtl .ui-datepicker {
    margin-left: -1px;
}

.ui-datepicker * {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    border-radius: 0;
}

.ui-datepicker table {
    font-size: 13px;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background-image: none;
    border: none;
    color: #fff;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: relative;
    top: 0;
    height: 34px;
    width: 34px;
}

.ui-datepicker .ui-state-hover.ui-datepicker-prev,
.ui-datepicker .ui-state-hover.ui-datepicker-next {
    border: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
    right: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
    left: 0;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    display: none;
}

.ui-datepicker .ui-datepicker-prev {
    float: right;
}

.ui-datepicker .ui-datepicker-next {
    float: left;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font: normal 20px/34px 'dashicons';
    padding-right: 7px;
    color: #fff;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 34px;
    height: 34px;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: '\f341';
}

.ui-datepicker .ui-datepicker-next:before {
    content: '\f345';
}

.ui-datepicker .ui-datepicker-prev-hover:before,
.ui-datepicker .ui-datepicker-next-hover:before {
    opacity: 0.7;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 33%;
}

.ui-datepicker thead {
    color: #fff;
    font-weight: 600;
}

.ui-datepicker th {
    padding: 10px;
}

.ui-datepicker td {
    padding: 0;
    border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-other-month {
    border: transparent;
}

.ui-datepicker tr:first-of-type td {
    border-top: 1px solid #f0f0f0;
}

.ui-datepicker td.ui-datepicker-week-end {
    background-color: #f4f4f4;
    border: 1px solid #f0f0f0;
}

.ui-datepicker td.ui-datepicker-today {
    background-color: #f0f0c0;
}

.ui-datepicker td.ui-datepicker-current-day {
    background: #bbdd88;
}

.ui-datepicker td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    width: auto;
    display: block;
    padding: 5px 10px;
    font-weight: normal;
    color: #444;
}

.ui-datepicker td.ui-state-disabled .ui-state-default {
    opacity: 0.5;
}


/* Default Color Scheme */

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background: #00a0d2;
}

.ui-datepicker thead {
    background: #32373c;
}

.ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}


/* WordPress Color Schemes */


/* Fresh */

.admin-color-fresh .ui-datepicker .ui-widget-header,
.admin-color-fresh .ui-datepicker .ui-datepicker-header {
    background: #00a0d2;
}

.admin-color-fresh .ui-datepicker thead {
    background: #32373c;
}

.admin-color-fresh .ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}


/* Blue */

.admin-color-blue .ui-datepicker .ui-widget-header,
.admin-color-blue .ui-datepicker .ui-datepicker-header {
    background: #52accc;
}

.admin-color-blue .ui-datepicker thead {
    background: #4796b3;
}

.admin-color-blue .ui-datepicker td .ui-state-hover {
    background: #096484;
    color: #fff;
}


/* Coffee */

.admin-color-coffee .ui-datepicker .ui-widget-header,
.admin-color-coffee .ui-datepicker .ui-datepicker-header {
    background: #59524c;
}

.admin-color-coffee .ui-datepicker thead {
    background: #46403c;
}

.admin-color-coffee .ui-datepicker td .ui-state-hover {
    background: #c7a589;
    color: #fff;
}


/* Ectoplasm */

.admin-color-ectoplasm .ui-datepicker .ui-widget-header,
.admin-color-ectoplasm .ui-datepicker .ui-datepicker-header {
    background: #523f6d;
}

.admin-color-ectoplasm .ui-datepicker thead {
    background: #413256;
}

.admin-color-ectoplasm .ui-datepicker td .ui-state-hover {
    background: #a3b745;
    color: #fff;
}


/* Midnight */

.admin-color-midnight .ui-datepicker .ui-widget-header,
.admin-color-midnight .ui-datepicker .ui-datepicker-header {
    background: #363b3f;
}

.admin-color-midnight .ui-datepicker thead {
    background: #26292c;
}

.admin-color-midnight .ui-datepicker td .ui-state-hover {
    background: #e14d43;
    color: #fff;
}


/* Ocean */

.admin-color-ocean .ui-datepicker .ui-widget-header,
.admin-color-ocean .ui-datepicker .ui-datepicker-header {
    background: #738e96;
}

.admin-color-ocean .ui-datepicker thead {
    background: #627c83;
}

.admin-color-ocean .ui-datepicker td .ui-state-hover {
    background: #9ebaa0;
    color: #fff;
}


/* Sunrise */

.admin-color-sunrise .ui-datepicker .ui-widget-header,
.admin-color-sunrise .ui-datepicker .ui-datepicker-header,
.admin-color-sunrise .ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: #cf4944;
}

.admin-color-sunrise .ui-datepicker th {
    border-color: #be3631;
    background: #be3631;
}

.admin-color-sunrise .ui-datepicker td .ui-state-hover {
    background: #dd823b;
    color: #fff;
}


/* Light */

.admin-color-light .ui-datepicker .ui-widget-header,
.admin-color-light .ui-datepicker .ui-datepicker-header {
    background: #e5e5e5;
}

.admin-color-light .ui-datepicker thead {
    background: #888;
}

.admin-color-light .ui-datepicker .ui-datepicker-title,
.admin-color-light .ui-datepicker td .ui-state-default,
.admin-color-light .ui-datepicker .ui-datepicker-prev:before,
.admin-color-light .ui-datepicker .ui-datepicker-next:before {
    color: #555;
}

.admin-color-light .ui-datepicker td .ui-state-hover {
    background: #e5e5e5;
}

/* Evergreen */

.admin-color-bbp-evergreen .ui-datepicker .ui-widget-header,
.admin-color-bbp-evergreen .ui-datepicker .ui-datepicker-header {
    background: #56b274;
}

.admin-color-bbp-evergreen .ui-datepicker thead {
    background: #36533f;
}

.admin-color-bbp-evergreen .ui-datepicker td .ui-state-hover {
    background: #446950;
    color: #fff;
}


/* Mint */

.admin-color-bbp-mint .ui-datepicker .ui-widget-header,
.admin-color-bbp-mint .ui-datepicker .ui-datepicker-header {
    background: #4ca26a;
}

.admin-color-bbp-mint .ui-datepicker thead {
    background: #4f6d59;
}

.admin-color-bbp-mint .ui-datepicker td .ui-state-hover {
    background: #5fb37c;
    color: #fff;
}

/*remove update section from revolution slider and Elementor*/
#revslider-update,
#plugin_activation_row,
#plugin_update_row,
[data-slug="elementor"] .go_pro,
a[href="admin.php?page=go_elementor_pro"],
#elementor-notice-bar {
    display: none !important;
}